<ion-header>
  <ion-toolbar>
    <ion-title>
      Reports
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-segment [(ngModel)]="relationship" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="MedQ">
      MedQ
    </ion-segment-button>
    <ion-segment-button value="Achievements">
      Achievements
    </ion-segment-button>
  </ion-segment>
  <!-- <ion-toolbar>
        <ion-segment>
          <ion-segment-button  (ionSelect) ="showMedQ()" value="MEDQ" checked> MED Q</ion-segment-button>
          <ion-segment-button (ionSelect)="showAchievement()" value="Achievments">Achievments</ion-segment-button>
        </ion-segment>
  </ion-toolbar> -->
<div  class= "medQ" id="QuestionList">

  <h1>testing stuff</h1>
<ion-card>
  <ion-card-content>Do you struggle with monitoring task completion?</ion-card-content>
  <ion-button (click)="q1" red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Do you require many reminders to stay on task?</ion-card-content>
  <ion-button red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Do you have dificulty starting on task?</ion-card-content>
  <ion-button red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Do you forget to turn in completed work? </ion-card-content>
    <ion-button red="yes">Yes</ion-button>
    <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Do you forget the details of a text while reading or soon after finishing? </ion-card-content>
  <ion-button red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Struggle with keeping track of needed material?</ion-card-content>
  <ion-button red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Do you lack proper social skills with peers and adults?</ion-card-content>
  <ion-button red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Are you easily distracted?</ion-card-content>
  <ion-button red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Do you seem to struggle making decisions?</ion-card-content>
  <ion-button red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>

<ion-card>
  <ion-card-content>Do you stuggle to understand that there is more then one way to solve a problem?</ion-card-content>
  <ion-button red="yes">Yes</ion-button>
  <ion-button red="no">No</ion-button>
</ion-card>
</div>


<div class="Achievement" id="AchievementList">
<ion-card>
  <ion-card-content>Your Achievments</ion-card-content>
</ion-card>
</div>

</ion-content>
